* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url("../image/image/Background-1440.svg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: fonteTexto;
    
}
#root{
    --primaria:black;
}

@font-face {
    font-family: fonteLogo;
    src: url("../fontes/fonteLogo.ttf");
 }

 @font-face {
    font-family: fonteTexto;
    src: url("../fontes/fonteTexto.otf");
 }


