@media (max-width:1440px){
    header{
        padding-top: 0.8em;
    }
    h1{
        padding:0;
        font-size: 4.5em;
    }
}
@media (max-width:1026px){
    h1{
        font-size: 3.5em;
        padding-top:0.5em;
    }
    article{
        font-size: 2.1em;
    }
}
@media (max-width:769px){
    html,
    body{
        background-image: url("../image/image/Background-768.svg");
        background-repeat: no-repeat;
    }
    h1{
        font-size: 2.5em;
        padding-top: 0.8em;
    }
}

@media (max-width:426px){
    body{
        background-image: url("../image/image/bkgd426.svg");
        background-color: var(--bckgd);
        background-blend-mode: overlay;
    }
    
    h1{
        padding-top: 0.5em;
        font-size: 1.9em;
    }
    .imagemArabesco > img{
        width: 15em;
    }
    .imagemArabesco{
        width: auto;
    }
}
@media (max-width:376px){
    h1{
        padding-top:0.2em;
        font-size: 1.9em ;
    }
    
}
@media (max-width:321px){
   
    body{
        background-image: url("../image/image/bkgd320.svg");
        background-color: var(--bckgd);
        background-blend-mode: overlay;
    }
    
}

