@media (max-width:1441px) {
   
    
}

@media (max-width:1026px){
    
    
    #botoes{
        gap: 20px;
    }
    .container1{
        max-width: 200px;
    }
    .container2{
        max-width: 200px;
    }
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
    footer{
        top:-5%;
        font-size: small ;
    }
}
@media (max-width:769px) {

    .lifestory{
        font-size: 35px;
        background-color: rgba(255, 228, 196, 0.712);
        border-radius: 1em;
    }
   
    
}
@media (max-width:426px){
    .story{
        width: max-content;
    }
    .avatar img{
        width: 150px;
        height: 300px;
    }
    .avatar{
        width: 150px;
        height: 300px;
    }
    .lifestory{
        width: 250px;
        height: 325px;
        font-size: 25px;
        margin-left: 5px;
    }
   
    .container1{
        max-width: 200px;
    }
    .container2{
        max-width: 200px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
    #imagemGanhou>img {
        width: 300px;
        height: 200px;
      }
      footer{
          top:0;
          right:25%;
          height:25px;
      }
      #rights{
          flex-direction: row;
      }
      span{
          height:25px;
      }
}
@media (max-width:376px){
   
    #botoes{
        gap:0;
        flex-direction: column;
    }
    .container1{
        max-width: 150px;
    }
    .container2{
        max-width: 150px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 20px;
    }
    
    .container2 .btn-chega{
        font-size: 20px;
    }
    
}