@media (min-width:1440px){
    
}
@media (max-width:1026px){
    h1{
        font-size: 2.5em;
    }
    article{
        font-size: 2.1em;
    }
}
@media (max-width:769px){
    html,
    body{
        background-image: url("../image/image/Background-768.svg");
        background-repeat: no-repeat;
    }
    h1{
        font-size: 2.5em;
        padding-top: 1.3em;
    }
}

@media (max-width:426px){
    body{
        background-image: url("../image/image/Background-mobile.svg");
    }
    h1{
        font-size: 1.8em;
    }
    .imagemArabesco > img{
        width: 15em;
    }
    .imagemArabesco{
        width: auto;
    }
}
@media (max-width:376px){
    h1{
        padding-top:1em;
        font-size: 1.5em ;
    }
    
}

