@media (max-width:1441px) {
    #imagemGanhou>img{
        height:300px;
        width: 600px;
    }
    
}

@media (max-width:1026px){
    
    
    #botoes{
        gap: 20px;
    }
    .container1{
        max-width: 200px;
    }
    .container2{
        max-width: 200px;
    }
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
    footer{
        top:-10%;
        font-size: small ;
    }
}
@media (max-width:426px){
   
    .container1{
        max-width: 200px;
    }
    .container2{
        max-width: 200px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
    #imagemGanhou>img {
        width: 300px;
        height: 200px;
      }
      footer{
          top:0;
          right:25%;
          height:25px;
      }
      #rights{
          flex-direction: row;
      }
      span{
          height:25px;
      }
}
@media (max-width:376px){
   
    #botoes{
        gap:0;
        flex-direction: column;
    }
    .container1{
        max-width: 150px;
    }
    .container2{
        max-width: 150px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 20px;
    }
    
    .container2 .btn-chega{
        font-size: 20px;
    }
    
}