@media (max-width:1026px){
    h1{
        font-size: 3.0em;
    }
    article{
        font-size: 2.2em;
    }
    /* #imagemGanhou>img{
        height:250px;
        width: 400px;
    } */
    #botoes-ganhou{
        gap: 20px;
    }
    .container{
        max-width: 250px;
    }
    .container2{
        max-width: 250px;
    }
    
}
@media (max-width:769px){
    .container{
        max-width: 200px;
    }
    .container2{
        max-width: 200px;
    } 
    .container .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
}