@media (max-width:1441px) {
   
    
}

@media (max-width:1026px){
    
    
    #botoes{
        justify-content: right;
        margin-right: 650px;
        gap: 20px;
    }
    .desafio{
        font-size: 42px;
    }
    .pergunta{
        font-size: 40px;
        width: 450px;
        height:300px;
        padding-left: 30px ;
    }
    .container1{
        max-width: 180px;
    }
    .container2{
        max-width: 180px;
    }
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
}
@media (max-width:769px) {
    .desafio{
        font-size: 42px;
    }
    .pergunta> p{
        font-size: 30px;
    }
    .pergunta{
        font-size: 40px;
        background-color: rgba(255, 228, 196, 0.712);
        border-radius: 1em;
        width: 450px;
        height:300px;
        padding-left: 30px ;
    }
    .respostas > p{
        font-size: 30px;
    }
    #botoes{
        justify-content: right;
        margin-right: 350px;
        gap: 20px;
    }
    
}
@media (max-width:426px){
    .desafio{
        font-size: 28px;
    }
    .story{
        width: max-content;
    }
    .avatar img{
        width: 150px;
        height: 200px;
    }
    #botoes{
        justify-content: right;
        margin-right: 110px;
        gap: 20px;
    }
    .avatar{
        width: 150px;
        height: 200px;
    }
    .pergunta{
        width: 250px;
        height: fit-content;
        font-size: 25px;
        margin-left: 5px;
    }
    .pergunta > p{
     font-size: 28px;
    }
    .respostas > p{
        font-size: 28px;
    }
   
    .container1{
        max-width: 150px;
    }
    .container2{
        max-width: 150px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 28px;
    }
    
    .container2 .btn-chega{
        font-size: 28px;
    }
     
}
@media (max-width:376px){
    .desafio{
        display: none;
    }
    .story{
        flex-direction: column-reverse;
        align-items: center;
    }
    .pergunta{
        justify-content: flex-start;
        height: fit-content;
        width: 300px;
    }
    .avatar img{
        width: 150px;
        height: 150px;
    }
    .avatar{
        width: 150px;
        height: 150px;
    }
    
    #botoes{
        gap:0;
        margin-right:50px;
        margin-top: 0px;
    }
    .container1{
        max-width: 150px;
    }
    .container2{
        max-width: 150px;
    } 
    .container1 .btn-jogarnovamente{
        font-size: 20px;
    }
    
    .container2 .btn-chega{
        font-size: 20px;
    }
    
}
@media (max-width:320px){
    .pergunta{
        justify-content: flex-start;
        height: fit-content;
        
        width: 300px;
    }
    
    
    #botoes{
        gap:0;
        margin-right:20px;
        margin-top: 10px;
    }

}